.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* homepage css*/
.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.margin {
  margin-bottom: 45px;
}
h3 {
  margin-top: 20px;
}
.img-circle {
  border-radius: 50%;
}
.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.img-new {
  width: 100%;
}
.bg-4 {
  background-color: #2f2f2f;
  color: #fff;
}

/*------ about page css-------*/
@media (max-width: 500px) {
  .img-circle {
    height:100px !important;
    width:100px !important;
  }
}
blockquote{
display:block;
background: #fff;
padding: 15px 55px 15px 45px;
margin: 0 0 20px;
margin-top: 50px !important;
position: relative;

/*Font*/
font-family: Georgia, serif;
font-size: 16px;
line-height: 1.2;
color: #666;
text-align: justify;

/*Borders - (Optional)*/
border-left: 15px solid #c76c0c;
border-right: 2px solid #c76c0c;

/*Box Shadow - (Optional)*/
-moz-box-shadow: 2px 2px 15px #ccc;
-webkit-box-shadow: 2px 2px 15px #ccc;
box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
content: "\201C"; /*Unicode for Left Double Quote*/

/*Font*/
font-family: Georgia, serif;
font-size: 60px;
font-weight: bold;
color: #999;

/*Positioning*/
position: absolute;
left: 10px;
top:5px;
}

blockquote::after{
/*Reset to make sure*/
content: "";
}

blockquote a{
text-decoration: none;
background: #eee;
cursor: pointer;
padding: 0 3px;
color: #c76c0c;
}

blockquote a:hover{
color: #666;
}

blockquote em{
font-style: italic;
}

.form-control {
  width: 100% !important;
}

a.new-diamonds:hover, a.new-diamonds:active, a.new-diamonds:focus {
  text-decoration: none;
  color: #fff;
  background: #118CFF;
}
a.new-diamonds {
  border-radius: 5px;
  background: #337ab7;
  padding: 10px 10px;
  color: #fff !important;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
hr {
  border-bottom:solid 3px #CCCCCC;
}
.business-card {
  max-height:180px;
}
.pbusiness-card {
  background: #e62f2f; padding: 10px; color: #fff; font-size: 18px;
}
.grey-bg {
  background:rgba(169, 164, 164, 0.05);
  border-radius: 4px;
  padding: 50px;
  border: 1px solid #ddd;
}
h2 {
  padding: 20px;
  text-align: center;
}

/*---------- contact page css-------*/
.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
  }
  .jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
  }
  .h1 small {
  font-size: 24px;
  }
  .well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/*---------- form validation error-----------*/
input.error{
  border : 1px solid red;
}
.errorMessage {
  color : red;
  font-size: 1.0em;
  display: relative;
}